<header>
<nav>
    <ul>
{{#if sessuser}}
        <div id="signout">
        <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" >Sign out</button>
        </form>
        </div>
        
        <li><a href="/profile">Colleagues</a> </li>
        <li class="menu"><a href="/videoChat">Video Chatta</a> </li>
        <li class="menu"><a href="/textChat">Chatta</a> </li>
        {{else}}
        <li><a href="/">Colleagues</a> </li>
        <li class="menu"><a href="/register">Registrera dig här</a> </li>
        {{/if}}
    </ul>
</nav>


{{#if profiles}}

<form id="search" action="/profiles/{{username}}" method="POST">
<input id="searchfield" name="search" placeholder="Sök efter en användare...">
<input id="search-btn" type="submit" value="Sök">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

{{/if}}
