 <html lang="en">
<head>
    {{!-- <script src="https://simplewebrtc.com/latest-v3.js"></script> --}}
    {{!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="scripts/semantic-ui-css/semantic.min.css"> --}}
    <script src="/socket.io/socket.io.js"></script>

    <title> {{title}} </title>
</head>
<body>
{{> header}}


    {{{body}}}
   
    {{#if flash}}
    <div>
        {{flash.message}}
    </div>
    {{/if}}
 


     {{!-- <script src="scripts/jquery/dist/jquery.min.js"></script>
  <script src="scripts/semantic-ui-css/semantic.min.js"></script>
  <script src="scripts/handlebars/dist/handlebars.min.js "></script>
  <script src="scripts/simplewebrtc/out/simplewebrtc-with-adapter.bundle.js"></script> --}}
  
  <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
  <script src="js/video.js"></script>
  
</body>
</html> 


 