
<form action="/profile/aboutMe/{{id}}" method="POST">
<input id='name' name='name' placeholder='Name' value={{name}}>
<br>
<input type="number" placeholder="Age" id='age' name='age' value={{age}}>
<br>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button type="submit">Send</button>
</form>