

<div id = 'selectRoom'>
    {{!-- <label> Type the room nummber</label> --}}
<input id="roomNumber" type="text" placeholder="enter a room id..."> 
<button id="goRoom" class="btn btn-lg btn-success">Join</button>

</div>

<div id="consoultingRoom" style="display: none;">
<video id="localVideo" autoplay></video>
<video id="remoteVideo" autoplay></video>
{{!-- <video id="remoteVideo1" autoplay></video> --}}

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/videos.js"></script>

