
{{!-- {{#each profiles}} --}}
<p id="user">{{user}}</p>
<p>Namn: {{name}}</p>
<p>Ålder: {{age}} år</p>
{{!-- {{/each}} --}}
{{!-- <form action="/videoChat" method="GET">
<button id="callbtn">Call</button>
</form> --}}

