
<p>test
</p>
{{!-- {{#if profiles}}

<form action="/profiles/{{username}}" method="POST">
<input id="search" name="search" placeholder="Ser du texten?">
<input type="submit" value="Sök">
<input type="hidden" name="_csrf" value="{{csrfToken}}">

{{!-- <button type="submit">{{username}}</button> --}}
{{!-- </form>

{{/if}} --}}
