

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      remote
      <video id="rVideo" autoplay="autoplay"></video>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      local
      <video id="lVideo" autoplay="autoplay" muted></video>
    </div>
  </div>
  <span id="displayId"></span>
  <input type="text" id="connId" class="form-control" placeholder="enter a connection id" required>
  <button id="conn_button" class="btn btn-lg btn-primary btn-block" type="submit">Connect</button>
  <button id="call_button" class="btn btn-lg btn-success btn-block" type="submit">Call</button>
</div>