
{{#if sessuser}}
<input type="hidden" id="username" value="{{sessuser.username}}">
{{/if}}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">

      <video id="rVideo" autoplay="autoplay"></video>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">

      <video id="lVideo" autoplay="autoplay" muted></video>
    </div>
  </div>
  <span id="displayId"></span>
  <div class="col-xs-2">
  <br>
  <input type="text" id="connId"  placeholder="Enter a username" required>
  </div>
  <br>
  <button id="call_button" class="btn btn-lg btn-success" type="submit">Call</button>
</div>
  <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
  <script src="js/video.js"></script>
