body {
    background-color:whitesmoke;
    /* margin-top: 120px; */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}
html { margin-top: 100px; }
#chat-content { height: 180px;  overflow-y: scroll; }
.container {
    margin-top: 120px;
}
header {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 100%;
    opacity: 1;
    background-color: rgba(82, 80, 80, 0.733);
}

nav ul li {
    display: block;
    /* margin: 5px; */
    font-size: 30;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 2px;
    float: left;
    margin-top: 10px;
}

nav a {
    padding: 20px; 
    text-decoration: none;
}


nav	a:link,	nav	a:visited {
    color:whitesmoke;
}

nav	a:hover, nav a:active {
    cursor: pointer;
    color: #ff5bb0;
}


#signout{
    margin-right: 50px;
    float: right;
   
}
#signout button {
    background: none;
    border: none;
    cursor: pointer;
    color: whitesmoke;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#signout button:hover {
    color: #ff5bb0;
}

.menu{
    float: right;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    
}
.loginform {
    color: whitesmoke;
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 250px;
    background-image: url('../images/colorpic.jpg');
    background-repeat: no-repeat;
    border: solid 2px #ff5bb0;
    border-radius: 4px;
    box-shadow: 10px 10px rgba(82, 80, 80, 0.274);
    
}

.loginform input {
    background-color:#FFFFFF;
    border:solid 1px #ff5bb0;
    font-size:13px;
    border-radius:4px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:5px;
    padding-right:5px;
    margin-bottom: 5px;
}

.loginform button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff5bb0;
    font-size: 15px;
}

#profile {
    text-align: left;
}

#profile button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#profile button:hover {
color: #ff5bb0;
}

@media only screen and (max-width: 400px) {
    nav ul li {
    float: none;
    font-size: 10px;
    }
    .menu {
        float: none;
        font-size: 10px; 
    }
  }

  #search{
      float: left;
      margin-top: 20px;
  }

  #searchfield{
    background-color:#FFFFFF;
    border:solid 1px #ff5bb0;
    border-radius:4px;
  }

  #search-btn{
    background: none;
    border: none;
    cursor: pointer;
    color: #ff5bb0;
    font-size: 15px;  
  }
/* 
  .ui .image {
width: 200px;
height: 200px;
  } */


  #buttons-container {
    position: absolute;
    z-index: 2;  
    width: 100vw;
  }
  
  #full-screen-video {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  
  #lower-video-bar {
    height: 20vh;
  }
  
  #local-stream-container { 
    position: relative; 
    display: inline-block;
  }
  
  .remote-stream-container { 
    display: inline-block;
  }
  
  #remote-streams {
    height: 100%;
  }
  
  #local-video {
    position: absolute;
    z-index: 1;
    height: 20vh;
    max-width: 100%;
  }
  
  .remote-video {
    position: absolute;
    z-index: 1;
    height: 100% !important;
    width: 80%;
    max-width: 500px;
  }
  
  #mute-overlay {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    color: #d9d9d9;
    font-size: 2em;
    padding: 0 0 3px 3px;
    display: none;
  } 
  
  .mute-overlay {
    position: absolute;
    z-index: 2;
    top: 2px;
    color: #d9d9d9;
    font-size: 1.5em;
    padding: 2px 0 0 2px;
    display: none;
  }
  
  #no-local-video, .no-video-overlay {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 40%;
    color: #cccccc;
    font-size: 2.5em;
    margin: 0 auto;
    display: none;
  }
  
  .no-video-overlay {
    width: 80%;
  }
  
  #screen-share-btn-container {
    z-index: 99;
  }
  video {
    width: 400px;
    height: 300px;
    border: solid 5px palevioletred;
  }

  .col-xs-2 input {
    width: 500px;    
    text-align:center;
  }

  #message-input {
    text-align: left;
    font-size: 20px;
    margin: auto;
    width: 500px;
    height: 80px;
    border: 5px inset rgba(0, 0, 0, 0.521);
    border-radius: 5px 5px 5px 5px;
  }

  #message-container{
    text-align: left;
    font-size: 20px;
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: pink;
    border: 5px inset rgba(82, 80, 80, 0.733);
    border-radius: 10px 10px 10px 10px;
    overflow-wrap: break-word;
    overflow: auto;
    margin-bottom: 10px;
    /* resize: both; */
  }

  #message-container div{
margin-left: 15px;
  }
#send-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff5bb0;
  font-size: 20px;  
  outline:none;
}
#send-button:hover {
	color:  rgba(82, 80, 80, 0.733);
}
#send-button:active {
	position:relative;
	top:1px;
} 
.save-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff5bb0;
  font-size: 20px;  
  outline:none;
}
.save-button:hover {
	color:  rgba(82, 80, 80, 0.733);
}
.save-button:active {
	position:relative;
	top:1px;
} 

#profile-set {
text-align: left;
background-color: #ffffff;
border: 2px solid rgb(153, 153, 153);
border-radius: 5px 5px 5px 5px;
width: 320px;
}
#prof-text {
 margin-left: 10px;
 margin-top: 10px;
 width: 250px;
}
.left-text{
  text-align: left;
  margin-left: 10px;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-resizer {
  border-radius: 30px 0px 0px 0px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 

}